

.header {
  background-color: #32347C;
  opacity: 0.5;
  margin: 0;
  text-align: center;
}


.ask {
  float: right;
  background-color: rgba(255, 255, 255, 0.8); 
}

.bid {
  float: left;
  background-color: rgba(255, 255, 255, 0.8);
}

.sellQuantity {
 padding-left: 20px;
}


.sellPrice  {
  color: red;
  float: left;
}

.sellQuantity, .buyQuantity {
  color: #666;
}

.buyPrice { 
  color: green;
  float: right;
}


.bidvolume, .askpricepoint {
  margin-right: 40px;
}



h1 {
  border-bottom: 1px solid;
  color: black;
 
}
ul {
  list-style-type: none;
  padding: 0; 
}

h2 {
  display: inline;
}

li {
  margin-top: 5px;
}

p {
  display: inline;
  margin: 0;  
}


