

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

li {
  font-size: 10px,
}

.bid{
  position: relative;
  display:inline-block;
  left: 0;
}

.ask{
  position: absolute;
  display:inline-block;
  right: 0; 
}

.bidlist{
  position: relative;
  display: inline;
  text-align: left;
}

.asklist{
  position: relative;
  display: inline;
  text-align: right;
  
}

.sellPrice {
  text-align: left;
}

.sellQuantity {
  text-align: right;
}

.buyPrice {
  text-align: left;
}

.sellQuantity {
  text-align: right;
}

p {
  font-size: 20px;
  display: inline;
  padding: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
